/* SI-md-08.css */

div#TOC li {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  background-image: none;
  background-position: 0px center;
}

.navbar-brand, .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .pre-scrollable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

body, td {
  font-family: Times, TimesNewRoman, serif;
  background-color: white;
  font-size: 16px;
  font-weight: normal;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: normal;
}

h1.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: normal;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bolder;
}

tt, code, pre {
  font-family: "Consolas", "Courier New", Monaco, monospace;
  font-size: 13px;
  font-weight: bold;
}

a, a:visited {
  color: #3333ff;
}

@media print {
  * {
    background-color: transparent !important;
    background-image: none !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-position: 0% 0% !important;
    color: black !important;
    filter: none !important;
  }
  body, td {
    font-family: Times, TimesNewRoman, serif;
    background-color: white;
    font-size: 12px;
    font-weight: normal;
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
  }
  h1.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
  }
  h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
  }
  h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
  }
  h5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }
  h6 {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: bolder;
  }
  tt, code, pre {
    font-family: "Consolas", "Courier New", Monaco, monospace;
    font-size: 10px;
    font-weight: bold;
  }
  a:link::after, a:visited::after {
    color: #2fa4e7;
    content: "";
  }
}

a:hover {
  color: #000099;
}

